// 使えないのでこれは諦める
// ref https://developer.mozilla.org/en-US/docs/Web/CSS/@property
// https://css-tricks.com/exploring-property-and-its-animating-powers/
//@property --rotate {
//  syntax: "<angle>";
//  initial-value: 130deg;
//  inherits: false;
//}

$card-height: 65vh;
$card-width: calc($card-height / 1.5);

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background: #212534;
    min-height: 100vh;
    padding-top: 2rem;
    padding-bottom: 2rem;
    box-sizing: border-box;

}


.card {
  background: #191c29;
  width: $card-width;
  height: $card-height;
  padding: 3px;
  position: relative;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  font-size: 1.5em;
  color: rgb(88 199 250 / 0%);
  cursor: pointer;
  font-family: cursive;

  &:after {
    position: absolute;
    content: "";
    top: calc($card-height / 6);
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.8);
    filter: blur(calc($card-height / 6));
    background-image: linear-gradient(45deg, #5ddcff, #3c67e3 43%, #4e00c2);
    opacity: 1;
    transition: opacity .5s;
    animation: spin 2.5s linear infinite;
  }

  &:before {
    content: "";
    width: 104%;
    height: 102%;
    border-radius: 8px;
    background-image: linear-gradient(45deg, #5ddcff, #3c67e3 43%, #4e00c2);
    position: absolute;
    z-index: -1;
    top: -1%;
    left: -2%;
    animation: spin 2.5s linear infinite;
  }
}

.card:hover {
  color: rgb(88 199 250 / 100%);
  transition: color 1s;
}
.card:hover:before, .card:hover:after {
  animation: none;
  opacity: 0;
}

//.card::before {
//  content: "";
//  width: 104%;
//  height: 102%;
//  border-radius: 8px;
//  background-image: linear-gradient(45deg, #5ddcff, #3c67e3 43%, #4e00c2);
//  position: absolute;
//  z-index: 0;
//  top: -1%;
//  left: -2%;
//  animation: spin 2.5s linear infinite;
//}

//.card::after {
//  position: absolute;
//  content: "";
//  top: calc($card-height / 6);
//  left: 0;
//  right: 0;
//  z-index: 0;
//  height: 100%;
//  width: 100%;
//  margin: 0 auto;
//  transform: scale(0.8);
//  filter: blur(calc($card-height / 6));
//  background-image: linear-gradient(45deg, #5ddcff, #3c67e3 43%, #4e00c2);
//  opacity: 1;
//  transition: opacity .5s;
//  animation: spin 2.5s linear infinite;
//}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}
